In [46]:
import scraper_eod as s
import pandas as pd
from pandas.io.json import json_normalize
import numpy as np
import datetime
from datetime import date, timedelta
import matplotlib.pyplot as plt
import seaborn as sns
import mibian
import time
m = s.StockMongo()

C:\Users\ander\Documents\yahooScraper\scrape\lib\site-packages\cryptography\x509\base.py:531: CryptographyDeprecationWarning: Parsed a negative serial number, which is disallowed by RFC 5280.
  return rust_x509.load_pem_x509_certificate(data)

In [47]:
formulas = pd.DataFrame.from_records(m.stock_data.options_analisys.find())

In [52]:
formulas[formulas.date>'2022-10-01'].ticker

587       A
588     IBM
589    AAPL
590     ABC
591    NKLA
       ...
966    ASML
967     AZO
968     BBY
969    BABA
970      BB
Name: ticker, Length: 384, dtype: object

In [53]:
tickers = list(set(formulas[formulas.date>'2022-10-01'].ticker.tolist()))

In [55]:
len(tickers)

187

In [64]:
def count_freq(tick):
    return {'freq': formulas[(formulas.date>'2022-10-01')&(formulas.ticker==tick)].ticker.count(), 'ticker': tick}

In [65]:
freq = [count_freq(t) for t in tickers]

In [67]:
freq = pd.DataFrame(freq)

In [72]:
freq[freq.freq>3]

     freq ticker
11      5    LLY
17      4   QCOM
22      4   INTC
37      5    DIS
42      5    AAL
66      4    WMT
82      4    MCD
111     5     VZ
126     5    ABC
127     5    BAC
157     5    XOM